<google-map height="95vh"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            [options]="googleOptions"
            >
  <map-marker-clusterer #cluster (clusterClick)="openInfoCard($event)"
  [clusterClass]="clusterClass"
  [styles]="clusterStyles"
  [minimumClusterSize]="10"
  >
    <map-marker 
      #marker *ngFor="let marker of markers" (mapClick)="test(marker)"
      [position]="marker?.position" [options]="marker">
    </map-marker>
  </map-marker-clusterer>
</google-map>